@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.home-page {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" ,sans-serif;
    font-optical-sizing: auto;
    height: 100vh; 
    width: 100%;
    background-image: url('../Background_book.jpg'); /* Access from public folder */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%; 
    position: absolute; 
    top: 0; 
    left: 0; 
    z-index: 1; /* Ensure that the home-page is in front */

}

header {
    flex: 1; 
    display: flex;
    flex-direction: column;
    height: 100vh; 
    width: 100%; 
    position: absolute; 
    top: 0; 
    left: 0; 
    justify-items: center;
    align-items: center;
    z-index: 2; /* Ensure that header elements are in front */

}

.home-nav {
    width: 100%;
    padding: 0.5rem 3rem 0.5rem 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f5f5dc; 
    z-index: 3;
}

.logo h1 {
    font-size: 27px;
    color: #000;
}

.logo img {
    width: 150px; /* Adjust the size as needed */
    height: auto;
    cursor: pointer;
}
  
.logo a {
    display: inline-block;
}

.links ul {
    list-style: none;
    display: flex;
    gap: 3rem;
    color: #000;
}

.links li a {
    color: #000;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 25px;
    padding: 5px 10px;
    transition: background-color 0.6s;
}

.links li a:hover {
    background-color: #43b3ae;
}

.active {
    background-color: #0F52BA;
}

.home-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 5rem;
    height: 90vh; 
    width: 100%; 
    position: absolute; 
   /*top: 15%; 
    left: -30%; 
    top : 0;
    left: 0;*/
    padding: 2rem 5rem 2rem 5rem;
}

.home-container {
    align-items: center;
    text-align: center;
    max-width: 600px;
    justify-items: center;
    justify-content: center;
}

.home-container h1 {
    color: #000;
    font-size: 5rem; 
    margin-bottom: 10px;
    
}

.home-container p {
    color: #000;
    margin-bottom: 20px;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

#explore {
    margin-left: 20px;
}

.home-button {
    border: 2px solid #F36825 ;
    background: transparent;
    border-radius:  15px;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: 600;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.home-button:hover {
    background-color: #F36825;
    color: #000;
}

.login-sec {
    display: flex;
    align-items: center;
    gap: 1rem; /* Space between logout button and user text */
    padding: 1rem; /* Add padding for spacing */
    color: #000;
    border-radius: 5px; /* Optional: to give it a rounded appearance */
}

.login-sec h1 {
    font-size: 1.3rem;
    margin: 0;
    font-weight: 400; /* Font weight */
    color: #000;
}

.login-sec img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 5px; /* Space between profile picture and user text */
}

.login-sec button {
    padding: 0.5rem 1rem;
    background-color: transparent; /* Button background */
    border: 2px solid #F36825; /* Button border color */
    color: #000; /* Button text color */
    border-radius: 5px; /* Button border radius */
    cursor: pointer; /* Change cursor on hover */
    transition: background-color 0.3s, color 0.3s; /* Transition effects */
}

.login-sec button:hover {
    background-color: #F36825; /* Background color on hover */
    color: #000; /* Text color on hover */
}

.user-info {
    display: flex;
    align-items: center;
    gap: 1rem; /* Space between profile picture and username */
}

.search-bar {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 1rem;
    z-index: 4;
    border-radius: 50px;
  }
  
.search-bar input {
    padding: 0.5rem 1rem;
    width: 400px; /* Set a specific width */
    border: 2px solid #E7FAF9;
    border-radius: 50px;
    background-color: transparent;
    color: #000;
    font-size: 16px;
    transition: border-color 0.3s;
    outline: none;
    z-index: 1; /* Ensure input is beneath the icon */
  }
  
.search-bar input::placeholder {
    color: #E7FAF9;
}
  
.search-bar input:focus {
    border-color: #E7FAF9;
}
  
.search-bar ion-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #000;
    font-size: 24px;
    z-index: 2; /* Ensure icon is above the input */
}

.dropdowmProfile {
    position: absolute;
    top: -8.7rem;
    right: 26rem;
    width: 200px;
    border-radius: 8px;
    background-color: white;
    border: 1px solid gray;
    color: #000;
    margin-top: 15rem;
    z-index: 1;

}

.dropdowmProfile::before{
    content: '';
    position: absolute;
    top: -0.7rem;
    right: 1.1rem;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background-color: white;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
}

.dropdowmProfile ul{
    list-style: none;
    cursor: pointer;

}

.dropdowmProfile li a {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.6s;    
}