@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.home-page {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" ,sans-serif;
    font-optical-sizing: auto;
    height: 100vh; 
    width: 100%;
    /*background-image: url("https://img.freepik.com/free-vector/cartoon-man-woman-choosing-books-library_107791-20202.jpg?t=st=1726922431~exp=1726926031~hmac=0f2f34055bfd729adef9794d3b9c31c043d50f34cbb38f08f2922c25dd9ecf6c&w=1380");*/
    background-image: url('https://img.freepik.com/free-vector/women-library-reading-searching-books_33099-1732.jpg?t=st=1726922831~exp=1726926431~hmac=9a58ce83f983c83b05b01d58212287d9a7b4120b3cf1cae43188a2ec99fd548b&w=1380');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%; 
    position: absolute; 
    top: 0; 
    left: 0; 
    z-index: 1; /* Ensure that the home-page is in front */

}

header {
    flex: 1; 
    display: flex;
    flex-direction: column;
    height: 100vh; 
    width: 100%; 
    position: absolute; 
    top: 0; 
    left: 0; 
    justify-items: center;
    align-items: center;
    z-index: 2; /* Ensure that header elements are in front */

}

.home-nav {
    width: 100%;
    padding: 0.5rem 3rem 0.5rem 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 3;
}

.logo h1 {
    font-size: 27px;
    color: #fff;
}

.logo img {
    width: 150px; /* Adjust the size as needed */
    height: auto;
    cursor: pointer;
}
  
.logo a {
    display: inline-block;
}

.links ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}

.links li a {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 25px;
    padding: 10px 15px;
    transition: background-color 0.6s;
}

.links li a:hover {
    background-color: #0F52BA;
}

.active {
    background-color: #0F52BA;
}

.home-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 5rem;
    height: 90vh; 
    width: 100%; 
    position: absolute; 
   /*top: 15%; 
    left: -30%; 
    top : 0;
    left: 0;*/
    padding: 2rem 5rem 2rem 5rem;
}

.home-container {
    align-items: center;
    text-align: center;
    max-width: 600px;
    justify-items: center;
    justify-content: center;
}

.home-container h1 {
    color: #fff;
    font-size: 5rem; 
    margin-bottom: 10px;
    
}

.home-container p {
    color: #fff;
    margin-bottom: 20px;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

#explore {
    margin-left: 20px;
}

.home-button {
    border: 2px solid #E7FAF9;
    background: transparent;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 600;
    color: #E7FAF9;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.home-button:hover {
    background-color: #E7FAF9;
    color: #000;
}

.login-sec {
    display: flex;
    align-items: center;
    gap: 1rem; /* กำหนดระยะห่างระหว่างปุ่มล็อกเอาต์และข้อความผู้ใช้ */
    color: #fff; /* ตั้งค่าสีข้อความเป็นสีขาว */
}

.login-sec h1 {
    font-size: 1.2rem;
    margin: 0;
    font-weight: 400; /* ตั้งค่าน้ำหนักของฟอนต์ */
    color: #E7FAF9; /* สีข้อความผู้ใช้ */
}

.login-sec img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 5px; /* ระยะห่างระหว่างรูปภาพโปรไฟล์กับข้อความผู้ใช้ */
}

.login-sec button {
    padding: 0.5rem 1rem;
    background-color: transparent;
    border: 2px solid #E7FAF9;
    color: #E7FAF9;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.login-sec button:hover {
    background-color: #E7FAF9;
    color: #000;
}

.login-sec .user-info {
    display: flex;
    align-items: center;
    gap: 1rem; /* เพิ่มช่องว่างระหว่างรูปโปรไฟล์และชื่อผู้ใช้ */
}

.search-bar {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 1rem;
    z-index: 4;
    border-radius: 50px;
  }
  
.search-bar input {
    padding: 0.5rem 1rem;
    width: 400px; /* Set a specific width */
    border: 2px solid #E7FAF9;
    border-radius: 50px;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    transition: border-color 0.3s;
    outline: none;
    z-index: 1; /* Ensure input is beneath the icon */
  }
  
.search-bar input::placeholder {
    color: #E7FAF9;
}
  
.search-bar input:focus {
    border-color: #E7FAF9;
}
  
.search-bar ion-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #ffffff;
    font-size: 24px;
    z-index: 2; /* Ensure icon is above the input */
}
  