.lessors-info-page {
    background-color: #f9f9f9;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 750px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 100vh; /* Ensure container takes up full viewport height */
    padding-top: 10px; /* ให้พื้นที่เพียงพอสำหรับ stepper ด้านบน */
    padding-bottom: 70px;
}

.stepper {
    width: 100%;
    position: relative; /* ปรับตำแหน่งให้เป็น relative */
    z-index: 1;
}

.MuiStepper-root {
    background-color: transparent; /* transparent background for stepper */
}
  
.MuiStepLabel-root {
    color: #3f51b5;
    margin-top: 0px;
    margin-bottom: 0px; 
    
}
  
.MuiStepLabel-active {
    font-weight: bold; 
    margin-top: 0px;
    margin-bottom: 0px; 
}
  
.MuiStepLabel-completed {
    color: #4caf50; /* green color for completed steps */
    margin-top: 0px;
    margin-bottom: 0px; 
}
  
.loading {
    text-align: center;
    font-size: 18px;
    color: #666;
}

.lessor-information {
    margin-top: 20px; /* เพิ่มระยะห่างจาก stepper */
    flex-grow: 1; /* ให้ section นี้ขยายได้ */
    overflow-y: auto;
    z-index: 2;
    width: 70%;
}

.buttons {
    display: flex; /* จัดปุ่มในแนวนอน */
    justify-content: center; /* จัดปุ่มให้อยู่ด้านขวา */
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    z-index: 3;
    gap: 10px; /* ระยะห่างระหว่างปุ่ม */
    width: calc(100% - 40px); /* กำหนดความกว้างเต็มที่ลดขอบซ้ายและขวา */
    color: #3f51b5;
}

button + button {
    margin-left: 10px; /* Space between buttons */
}

.review-section {
    display: flex;
    flex-direction: column;
}
  
.review-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
  
.label {
    text-align: right;
    width: 30%;
    font-weight: bold;
}
  
.value {
    text-align: left;
    width: 65%;
}

.back-btn {
    color: darkgray
}

.next-btn {
    color: #3f51b5;
}

.submit-btn {
    color: #4caf50;
}

.input-with-icon {
    display: flex;
    align-items: center;
}

.input-with-icon ion-icon {
    font-size: 30px; /* ปรับขนาดไอคอน */
    margin-right: 10px; /* ระยะห่างระหว่างไอคอนกับ TextField */
    display: flex;
    align-items: center; /* จัดกึ่งกลางไอคอนในแนวตั้ง */
    justify-content: center;
    margin-top: 10px;
}

.input-with-icon .MuiInputLabel-root{
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    left: 10px; 
    transition: all 0.2s ease; 
}

.input-with-icon .MuiInputLabel-root.MuiInputLabel-shrink {
    top: -5px; 
    font-size: 14px; 
    color: black; 
    left: 13px;
}

.input-with-icon .MuiSvgIcon-root {
    font-size: 30px; /* ปรับขนาดไอคอน */
    margin-right: 10px; /* ระยะห่างระหว่างไอคอนกับ TextField */
    display: flex;
    align-items: center; /* จัดกึ่งกลางไอคอนในแนวตั้ง */
    justify-content: center;
    margin-top: 10px;
}

.input-with-icon img {
    font-size: 30px; /* ปรับขนาดไอคอน */
    margin-right: 10px; /* ระยะห่างระหว่างไอคอนกับ TextField */
    display: flex;
    align-items: center; /* จัดกึ่งกลางไอคอนในแนวตั้ง */
    justify-content: center;
    margin-top: 10px;
}

.input-with-icon .MuiFormControlLabel-label {
    display: flex;            /* Use flexbox to align items */
    align-items: center;     /* Center items vertically */
    margin-left: 0px;       /* Adjust spacing between the radio button and label */
}

.input-with-icon .MuiButtonBase-root{
    align-items: center;
    top : 30%;
    transform: translateY(-50%);
}

.react-datepicker-wrapper {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 37px;
}
