.lessors-info-page {
    background: linear-gradient(180deg, rgba(67, 179, 174, 1) 0%, rgba(67, 179, 174, 0.76) 21%, rgba(245, 245, 220, 0.48) 76%, rgba(255, 255, 255, 0) 100%);
    min-height: 100vh; /* ความสูงอย่างน้อย 100% ของ viewport */
    width: 100vw;
}


.container {
    max-width: 600px;
    margin: 0 auto;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 750px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 100vh; /* Ensure container takes up full viewport height */
    padding-top: 10px; /* ให้พื้นที่เพียงพอสำหรับ stepper ด้านบน */
    padding-bottom: 70px;
}

.stepper {
    width: 100%;
    position: relative; /* ปรับตำแหน่งให้เป็น relative */
    padding-top: 20px;
}

.MuiStepper-root {
    background-color: transparent; /* transparent background for stepper */
}
  
.MuiStepLabel-root {
    color: #3f51b5;
    margin-top: 0px;
    margin-bottom: 0px; 
    
}
  
.MuiStepLabel-active {
    font-weight: bold; 
    margin-top: 0px;
    margin-bottom: 0px; 
}
  
.MuiStepLabel-completed {
    color: #4caf50; /* green color for completed steps */
    margin-top: 0px;
    margin-bottom: 0px; 
}
  
.loading {
    text-align: center;
    font-size: 18px;
    color: #666;
}

.lessor-information {
    margin-top: 20px; /* เพิ่มระยะห่างจาก stepper */
    flex-grow: 1; /* ให้ section นี้ขยายได้ */
    overflow-y: auto;
    z-index: 2;
    width: 70%;
    justify-content: center;

    
}

.buttons {
    display: flex; /* จัดปุ่มในแนวนอน */
    justify-content: center; /* จัดปุ่มให้อยู่ด้านขวา */
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    z-index: 3;
    gap: 10px; /* ระยะห่างระหว่างปุ่ม */
    width: calc(100% - 40px); /* กำหนดความกว้างเต็มที่ลดขอบซ้ายและขวา */
    color: #3f51b5;
}

button + button {
    margin-left: 10px; /* Space between buttons */
}

.review-section {
    display: flex;
    flex-direction: column;
}
  
.review-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
  
.label {
    text-align: right;
    width: 30%;
    font-weight: bold;
}
  
.value {
    text-align: left;
    width: 65%;
}

.back-btn {
    color: darkgray
}

.next-btn {
    color: #3f51b5;
}

.submit-btn {
    color: #4caf50;
}

.input-with-icon {
    display: flex;
    align-items: center;
    background-color: white;

}

.input-with-icon ion-icon {
    font-size: 30px; /* ปรับขนาดไอคอน */
    margin-right: 10px; /* ระยะห่างระหว่างไอคอนกับ TextField */
    display: flex;
    align-items: center; /* จัดกึ่งกลางไอคอนในแนวตั้ง */
    justify-content: center;
    margin-top: 10px;
}

.input-with-icon .MuiInputLabel-root{
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    left: 10px; 
    transition: all 0.2s ease; 
}

.input-with-icon .MuiInputBase-root , 
.input-with-icon .MuiOutlinedInput-root  , 
.input-with-icon .MuiInputBase-input , 
.input-with-icon .MuiOutlinedInput {
    background-color: white;
}

.input-with-icon .MuiInputLabel-root.MuiInputLabel-shrink {
    top: -5px; 
    font-size: 14px; 
    color: black; 
    left: 13px;
}

.input-with-icon .MuiSvgIcon-root {
    font-size: 30px; /* ปรับขนาดไอคอน */
    margin-right: 10px; /* ระยะห่างระหว่างไอคอนกับ TextField */
    display: flex;
    align-items: center; /* จัดกึ่งกลางไอคอนในแนวตั้ง */
    justify-content: center;
    margin-top: 10px;
}

.input-with-icon img {
    font-size: 30px; /* ปรับขนาดไอคอน */
    margin-right: 10px; /* ระยะห่างระหว่างไอคอนกับ TextField */
    display: flex;
    align-items: center; /* จัดกึ่งกลางไอคอนในแนวตั้ง */
    justify-content: center;
    margin-top: 10px;
}

.input-with-icon .MuiFormControlLabel-label {
    display: flex;            /* Use flexbox to align items */
    align-items: center;     /* Center items vertically */
    margin-left: 0px;       /* Adjust spacing between the radio button and label */
}

.input-with-icon .MuiButtonBase-root{
    align-items: center;
    top : 30%;
    transform: translateY(-50%);
}

.BirthDatePick {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.BirthDatePick .MuiButtonBase-root.MuiIconButton-root {
    position: absolute; /* ใช้ absolute positioning */
    top: 35%; /* ตั้งค่าให้กลาง */
    transform: translateY(-50%); /* แก้ไขให้มันกลาง */
    right: 1px; /* ปรับระยะห่างจากขอบขวาของกรอบ */
    padding: 2px;
}

.back {
    position: absolute;
    top: 10px; /* Adjust as needed to move button away from the top */
    right: 10px; /* Adjust as needed to move button away from the left */
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: left;
    z-index: 1;
}

.form {
    padding-top: 30px;
    max-width: 100%;
    display: flex; /* Use flexbox for horizontal layout */
    flex-direction: column; /* ใช้แนวตั้งสำหรับ layout ของ form */
    background-color: white;
}
  
.form-row {
    display: flex; /* ใช้ flexbox สำหรับแต่ละแถว */
    flex-wrap: wrap; /* อนุญาตให้ wrap เมื่อเกินจำนวน */
    margin-bottom: 16px; /* ช่องว่างระหว่างแถว */
    background-color: white;

  }
  
.form-group {
    flex: 1 1 calc(20% - 10px); /* 5 items in a row */
    margin: 5px; /* ช่องว่างระหว่างกลุ่ม */
    background-color: white;
  }
  
.form-group .MuiFormControl {
    width: 70px !important; 
    background-color: white;

  }
  
.form-group .MuiSelect-root {
    width: 100% !important; 
    background-color: white;

  }
  
.form-group input, 
.form-group select {
    width: 100%; /* Full width for input and select */
    border: 1px solid #ccc; /* Border style */
    border-radius: 4px; /* Rounded corners */
    font-size: 16px; /* Font size */
    padding: 8px; /* Padding inside */
    background-color: white;

  }

.form-group input:disabled {
    background-color: #d9d9d9;
  }

.form-group select:disabled {
    background-color: #d9d9d9; /* Light grey background for disabled state */
    color: #d9d9d9;
  }

.form-group .MuiInputLabel-root{
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    left: 5px; 
    transition: all 0.2s ease; 
}

.form-group  .MuiInputLabel-root.MuiInputLabel-shrink {
    top: -5px; 
    font-size: 14px; 
    color: black; 
    left: 10px;
}

.flash-message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
}

.flash-message.info {
    background-color: #e0f7fa; /* สีพื้นหลังสำหรับข้อมูล */
    color: #00796b; /* สีข้อความ */
}

.flash-message.success {
    background-color: #c8e6c9; /* สีพื้นหลังสำหรับสำเร็จ */
    color: #388e3c; /* สีข้อความ */
}

.flash-message.error {
    background-color: #ffcdd2; /* สีพื้นหลังสำหรับล้มเหลว */
    color: #d32f2f; /* สีข้อความ */
}

.detailcard {
    width: 70%;
    max-width: 100%; /* กำหนดขนาด Card ให้อยู่ในขอบเขต */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
    margin-bottom: 20px;
    transform: translateX(20%);

}
  
.review-item {
    display: flex;
    justify-content: space-between; /* จัด label และ value ให้อยู่คนละด้าน */
    margin-bottom: 10px;
}
  
.preview-image {
    max-width: 200px;
    margin-top: 8px;
    border-radius: 4px;
}