.App {
  font-family: 'Poppins', sans-serif; /* ตั้งฟอนต์ให้กับแอพ */
  margin: 0; /* ไม่มีมาร์จิ้นภายนอก */
  padding: 0; /* ไม่มีแพดดิ้งภายใน */
  background-color: #f5f5f5; /* พื้นหลังสีเทาอ่อน */
  color: #333; /* สีข้อความหลัก */
  display: flex; /* ใช้ Flexbox เพื่อจัดการเลย์เอาต์ */
  flex-direction: column; /* จัดเรียงแนวตั้ง */
  min-height: 100vh; /* ความสูงอย่างน้อย 100% ของ viewport */
  max-width: 100%;
  width: 100vw;
  background-color: white;
}